.checkout-header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 20px 35px;
}


.left-section-checkoutheader {
  background-color: aqua;
}

.amazon-logo {
  width: 100px;
}

.middle-section-checkoutheader {
  background-color: blue;
  font-size: 20px;
}

.count-items {
  font-size: 18px;
  vertical-align: top;
  text-decoration: none;
}
  
.right-section-checkoutheader {
  background-color: brown;
}
